<section class="container d-flex flex-column justify-content-center align-items-center" id="address-form">
    <div class="address-form-wrapper col-sm-12 col-md-4">
        <h2 class="text-center text-muted text-uppercase">Billing Address</h2>

        <div class="address-form-container d-flex justify-content-center text-muted">

            <form method="post" action="/customer/edit-address/billing" class="d-flex flex-column w-100">

                <input type="hidden" id="id" name="id" value="{{address._id}}" />

                <label for="firstName">First name *</label>
                <input type="text" id="firstName" name="firstName" value="{{address.firstName}}" />

                <label for="lastName">Last name *</label>
                <input type="text" id="lastName" name="lastName" value="{{address.lastName}}" />

                <label for="company">Company (optional)</label>
                <input type="text" id="company" name="company" value="{{address.company}}" />

                <label for="country">Country / Region *</label>
                <input type="text" id="country" name="country" value="{{address.country}}" />

                <label for="street">Street address *</label>
                <input type="text" id="street" name="street" value="{{address.street}}" />

                <label for="zip">Postcode / ZIP *</label>
                <input type="number" id="zip" name="zip" value="{{address.zip}}" />

                <label for="city">Town / City *</label>
                <input type="text" id="city" name="city" value="{{address.city}}" />

                <label for="province">Province *</label>
                <input type="text" id="province" name="province" value="{{address.province}}" />

                <label for="phone">Phone *</label>
                <input type="text" id="phone" name="phone" value="{{address.phone}}" />

                <label for="email">Email address *</label>
                <input type="email" id="email" name="email" value="{{address.email}}" />


                <button type="submit" class="btn btn-outline-secondary py-2 px-5 mt-4">Submit</button>

                <div class="error mt-3">
                    {{#if errorMessage}}
                    <p>{{errorMessage}}</p>
                    {{/if}}
                </div>

            </form>

        </div>
</section>