<section
  class="container d-flex flex-column justify-content-center align-items-center"
  id="edit-product"
>
  <div class="edit-product-wrapper">
    <h2 class="text-center text-muted">Edit product</h2>

    <div class="edit-product-container">

      <form
        method="post"
        action="/products/edit/{{product.id}}"
        enctype="multipart/form-data"
      >

        <div class="d-flex flex-column">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="{{product.name}}" />

          <label for="price">Price:</label>
          <input type="number" step="any" id="price" name="price" value="{{product.price}}" />

          <label for="brand">Brand:</label>
          <input type="text" id="brand" name="brand" value="{{product.brand}}"/>

          <label for="">Description:</label>
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="5"
          >{{product.description}}</textarea>
          

          <label for="category">Category:</label>
            <select name="category" id="category">
              {{#each categories}}
                  {{#ifCond id "==" ../product.category}}
                  <option value="{{id}}" selected > {{name}} </option>
                  {{else}}
                  <option value="{{id}}"> {{name}} </option>
                  {{/ifCond}}
              {{/each}}
            </select>

          <label for="image">Image:</label>
          <input type="file" name="image" id="image" />


        <button
          type="submit"
          class="btn btn-outline-secondary py-2 px-5 mt-4"
        >Submit</button>

        <div class="error mt-3">
          {{#if errorMessage}}
            <p>{{errorMessage}}</p>
          {{/if}}
        </div>

      </form>

    </div>
  </div>
</section>