<div class="container border-bottom" id="admin-menu">
  <div class="row p-5">
    <div class="col-12 d-flex flex-row justify-content-center">
      <div class="px-3 text-muted">
        <a href="/admin" class="text-reset text-decoration-none text-uppercase">Dashboard</a>
      </div>
      <div class="px-3 text-muted">
        <a href="/products" class="text-reset text-decoration-none text-uppercase border-bottom border-3 fw-bold">Manage
          Products</a>
      </div>
      <div class="px-3 text-muted">
        <a href="/categories" class="text-reset text-decoration-none text-uppercase">Manage Categories</a>
      </div>
      <div class="px-3 text-muted">
        <a href="/auth/logout" class="text-reset text-decoration-none text-uppercase">Logout</a>
      </div>

    </div>
  </div>
</div>

<section class="container " id="products-list">
  <h2 class="text-center text-muted">Manage products</h2>

  <div class="topbar d-flex flex-row justify-content-between">
    <div class="create-container">
      <a href="/products/create" class="btn btn-outline-success create-btn "><b>+</b> Add new product</a>
    </div>
    <form class="search-container d-inline-block">
      <input type="search" name="query" placeholder="Search a product...">
      <button type="submit" class="btn .btn-outline-secondary search-btn"><i class="fa fa-search text-muted"></i></button>
    </form>
  </div>
  <div class="d-flex justify-content-between">

    <div id="filter-container col-12 col-md-4">

      <span class="filter-header" href="#">
        Filter by category
      </span>

      <div class="filters-wrapper">

        {{#each categories}}
        <div class="filter-item">
          <a class="product-filter" href="/products/filter/{{id}}">{{name}}</a>
        </div>
        {{/each}}

        <div class="clear-filters">
          <a class="" href="/products">Reset Filter</a>
        </div>

      </div>

    </div>
    <div class="products-container col-12 col-md-8">

      <div class="products d-flex row justify-content-between gy-4 gx-5">
        {{#each products}}

        <div class="product col-sm-12 col-md-6 col-lg-3 card">
          <a href="/products/{{id}}">
            <img src="{{image.path}}" class="w-100" alt="{{name}}" class="card-img-top" />

            <div class="card-body">
              <h3 class="card-text text-center">{{name}}</h3>
              <p class="description card-text text-center">{{brand}}</p>
              <p class="price card-text text-center">{{price}} €</p>
            </div>

            <div class="card-footer d-flex flex-column justify-content-around">

              <form action="/products/edit/{{id}}" method="get" class="mb-2">
                <button type="submit" class="btn btn-outline-info edit-btn ">Edit</button>
              </form>
              <form action="/products/delete/{{id}}" method="post" class="mb-0">
                <button type="submit" class="btn btn-outline-danger delete-btn">Delete</button>
              </form>
            </div>
          </a>
        </div>

        {{/each}}
      </div>
    </div>

  </div>


</section>